
@model IEnumerable<Elite_Training_Club.Data.Entities.Plan>

<table class="table table-striped table-responsive-md table-bordered smfont"  id="PlansTable">
    <colgroup>
        <col span="1" />
        <col span="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionNumber)
            </th>

            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Plans", new { id = 0 }, Context.Request.Scheme)' , 'Nuevo Plan')" class="btn btn-sm btn-primary text-white"><i class="fa fa-plus-circle"></i> Plan</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Plans" asp-route-Id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionNumber)
            </td>
            <td>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Plans", new { id=item.Id }, Context.Request.Scheme)' , 'Actualizar Plan')" class="btn btn-sm btn-warning"><i class="fa fa-pencil-alt"></i> </a>
                <button data-id="@item.Id" class="btn btn-sm btn-danger deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>

